* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#download-pdf {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

#download-pdf:hover{
    background-color: #555;
}


.skill{
    margin-bottom: 20px;

}

.progress-bar {
    background-color: #383434;
    border-radius: 5px;
    width: 50%;
    height: 25px;
    position: relative;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.progress {
    background-color: yellow;
    height: 100%;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: width 0.5s ease;
}

.skill p{
    margin: 0 0 5px;
    font-weight: bold;
}

.progress-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.progress-text{
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.skill-project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.skills-section {
    flex: 1;
}

.project {
    display: flex;
    flex-direction: 20px;
    align-items: flex-start;
    flex: 1;
    gap: 20px;
}

.project-image {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-description {
    max-width: 500px;
}

.project-description h4 {
    margin-bottom: 10px;
    color: #333;
}

.project-description p {
    color: #666;
    max-width: 600px;
    line-height: 1.6;
}

.project-description2 p {
    color: #666;
    max-width: 800px;
    line-height: 1.6;
}